:javascript
  $(document).ready(function(){
      var iframe_width = $(window).width() * 0.7;
      $('iframe').attr('width', iframe_width);
      $('iframe').attr('height', ($('iframe').attr('width') * (9/16)));
      $('#menu').attr('style', 'width:' + iframe_width + 'px');
  })

%h1 Laugh, Don't Think
%iframe{allowfullscreen: "", frameborder: "0", src: @youtube_link }
#menu
  - if current_user.admin?
    = link_to "Add videos to database", videos_path, class: "user-action"
  - else
    = link_to "Submit a new video suggestion", ideas_path, class: "user-action"
  = link_to 'Next Video (press Space key)', root_path, data: { keybinding: 'space' }, class: "video-action"
  .clear-floats
    

