@import "variables.css.scss";

h1 {
  font-size: 45px;
  margin: 30px 0 25px;
}

#menu {
  margin: 5px auto 25px;
  font-size: 18px;
}
.user-action {float: left;}
.video-action {float: right;}
#footer {
  p, a {color: $text-color;}
}

form{
  #error_explanation { 
    margin: 0 auto 20px; 
    
    h2 {text-align: center;}
    ul{ 
      padding-left: 0;
      
      li{ list-style: none;}
    }
    
  
  }
  .field{
    input {
      width: 350px;
      margin: 0 auto;
      text-align: center;
    }
    .field_with_errors {
      margin: 0 auto;
    }
  }
  .btn-primary { margin: 10px 0 ;}
}

.form_link{
  margin-bottom: 10px;
}